@media screen and (prefers-color-scheme: light) {
    :root {
        --gradient-multiplier: 1.25 !important;
    }
}

body {
    height: 100vh;
    width: 100vw;
    background: url("/pandas/static/background.webp") !important;
    background-size: cover !important;
    background-position-y: bottom !important;
    background-position-x: left !important;
    padding: 0;
    margin: 0;

    --gradient-bottom-color: transparent !important;
    --list-items-width: 17rem;
}

body > div:first-child {
    background: rgba(var(--white-base) var(--white-base) var(--white-base) / 90%);
    backdrop-filter: blur(6px);
}
