.bamboo-menu {
  padding: 1rem var(--page-spacing);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 9999;

  &__item {
    font-size: 1.5rem;
    color: var(--primary-color-lightest);
    transition: color 0.3s;

    &:hover {
      color: var(--white);
    }

    &.is--logo {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    &.is--right {
      margin-left: auto;
    }
  }
}

.bamboo-logo {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}