:root {
  --top-menu-height: 1rem !important;

  --bottom-bar-height: 2.5rem !important;
  --bottom-bar-spacing: 1rem !important;

  --font-size-main-menu: 2rem !important;

  --menu-left-touch-width: 1rem !important;

  --back-button-width: 2rem !important;
  --back-button-arrow-width: 1rem !important;
  --back-button-arrow-fin-width: 0.75rem !important;
  --back-button-border-width: 0.125rem !important;
  --back-button-arrow-stroke-width: 0.125rem !important;

  --page-side-spacing: 7rem !important;
}