openapi: 3.0.3
info:
  title: Bambushain API
  description: API for Bambushain application
  version: 4.0.0
servers:
  - url: https://bambushain.app/
    description: Default server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Login:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        twoFactorCode:
          type: string
          nullable: true
      required:
        - email
        - password
    ForgotPassword:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
        - email
    ResetPassword:
      type: object
      properties:
        email:
          type: string
          format: email
        token:
          type: string
        password:
          type: string
          format: password
      required:
        - email
        - token
        - password
    ChangeMyPassword:
      type: object
      properties:
        oldPassword:
          type: string
          format: password
        newPassword:
          type: string
          format: password
      required:
        - oldPassword
        - newPassword
    BambooUser:
      type: object
      properties:
        id:
          type: integer
          format: int32
        email:
          type: string
          format: email
        displayName:
          type: string
        discordName:
          type: string
        appTotpEnabled:
          type: boolean
          nullable: true
        profilePicture:
          type: string

    CustomFieldOption:
      type: object
      properties:
        id:
          type: integer
          format: int32
        label:
          type: string

    CustomField:
      type: object
      properties:
        id:
          type: integer
          format: int32
        label:
          type: string
        position:
          type: integer
          format: int32
        options:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldOption'

    FreeCompany:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string

    CharacterRace:
      type: string
      enum:
        - hyur
        - elezen
        - lalafell
        - miqote
        - roegadyn
        - au-ra
        - hrothgar
        - viera

    Character:
      type: object
      properties:
        id:
          type: integer
          format: int32
        race:
          $ref: '#/components/schemas/CharacterRace'
        name:
          type: string
        world:
          type: string
        datacenter:
          type: string
          nullable: true
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        freeCompany:
          $ref: '#/components/schemas/FreeCompany'
          nullable: true

    HousingDistrict:
      type: string
      enum:
        - the-lavender-beds
        - mist
        - the-goblet
        - shirogane
        - empyreum

    HousingType:
      type: string
      enum:
        - private
        - free-company
        - shared-apartment

    CharacterHousing:
      type: object
      properties:
        id:
          type: integer
          format: int32
        district:
          $ref: '#/components/schemas/HousingDistrict'
        housingType:
          $ref: '#/components/schemas/HousingType'
        ward:
          type: integer
          format: int16
        plot:
          type: integer
          format: int16
        characterId:
          type: integer
          format: int32

    CrafterJob:
      type: string
      enum:
        - carpenter
        - blacksmith
        - armorer
        - goldsmith
        - leatherworker
        - weaver
        - alchemist

    Crafter:
      type: object
      properties:
        id:
          type: integer
          format: int32
        job:
          $ref: '#/components/schemas/CrafterJob'
        level:
          type: string
          nullable: true
        characterId:
          type: integer
          format: int32

    FighterJob:
      type: string
      enum:
        - paladin
        - warrior
        - dark-knight
        - gunbreaker
        - white-mage
        - scholar
        - astrologian
        - sage
        - monk
        - dragoon
        - ninja
        - samurai
        - reaper
        - bard
        - machinist
        - dancer
        - black_mage
        - summoner
        - red-mage
        - blue-mage
        - viper
        - pictomancer

    Fighter:
      type: object
      properties:
        id:
          type: integer
          format: int32
        job:
          $ref: '#/components/schemas/FighterJob'
        level:
          type: string
          nullable: true
        gearScore:
          type: string
          nullable: true
        characterId:
          type: integer
          format: int32

    GathererJob:
      type: string
      enum:
        - culinarian
        - miner
        - botanist
        - fisher

    Gatherer:
      type: object
      properties:
        id:
          type: integer
          format: int32
        job:
          $ref: '#/components/schemas/GathererJob'
        level:
          type: string
          nullable: true
        characterId:
          type: integer
          format: int32

    User:
      type: object
      properties:
        id:
          type: integer
          format: int32
        email:
          type: string
          format: email
        displayName:
          type: string
        discordName:
          type: string
        appTotpEnabled:
          type: boolean
          nullable: true

    UpdateProfile:
      type: object
      properties:
        email:
          type: string
          format: email
        displayName:
          type: string
        discordName:
          type: string
      required:
        - email
        - displayName
        - discordName

    ValidateTotp:
      type: object
      properties:
        code:
          type: string
        password:
          type: string
          format: password
      required:
        - code
        - password

    TotpQrCode:
      type: object
      properties:
        qrCode:
          type: string
        secret:
          type: string

    GroveUser:
      type: object
      properties:
        id:
          type: integer
          format: int32
        email:
          type: string
          format: email
        displayName:
          type: string
        discordName:
          type: string
        isMod:
          type: boolean
        isBanned:
          type: boolean
    LoginResult:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/BambooUser'
        token:
          type: string
    TwoFactorResult:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/BambooUser'
        requiresTwoFactorCode:
          type: boolean
    SupportRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        message:
          type: string
      required:
        - name
        - email
        - message
    Grove:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        inviteEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateGrove:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      required:
        - name
    JoinGrove:
      type: object
      properties:
        groveId:
          type: string
          format: uuid
      required:
        - groveId
    JoinStatus:
      type: string
      enum:
        - joined
        - not-joined
        - banned
    GroveEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        groveId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        entityType:
          type: string
        message:
          type: string
        errorType:
          type: string
paths:
  /api/login:
    post:
      summary: Login to the application
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
        '204':
          description: Two-factor authentication required
        '401':
          description: Invalid login credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Logout from the application
      operationId: logout
      security:
        - bearerAuth: [ ]
      responses:
        '204':
          description: Successfully logged out
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    head:
      summary: Check if token is valid
      operationId: checkToken
      security:
        - bearerAuth: [ ]
      responses:
        '204':
          description: Token is valid
        '401':
          description: Token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/forgot-password:
    post:
      summary: Request password reset
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPassword'
      responses:
        '204':
          description: Password reset email sent
  /api/reset-password:
    post:
      summary: Reset password using token
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPassword'
      responses:
        '204':
          description: Password reset successful
        '400':
          description: Invalid token or request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/my/profile:
    get:
      summary: Get current user profile
      operationId: getProfile
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BambooUser'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update current user profile
      operationId: updateProfile
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
      responses:
        '204':
          description: Profile updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/my/password:
    put:
      summary: Change current user password
      operationId: changePassword
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeMyPassword'
      responses:
        '204':
          description: Password changed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groves:
    get:
      summary: Get all groves
      operationId: getGroves
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of groves
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grove'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new grove
      operationId: createGrove
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGrove'
      responses:
        '201':
          description: Grove created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grove'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groves/{groveId}:
    get:
      summary: Get a specific grove
      operationId: getGrove
      security:
        - bearerAuth: [ ]
      parameters:
        - name: groveId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Grove details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grove'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Grove not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a grove
      operationId: updateGrove
      security:
        - bearerAuth: [ ]
      parameters:
        - name: groveId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGrove'
      responses:
        '204':
          description: Grove updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Grove not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a grove
      operationId: deleteGrove
      security:
        - bearerAuth: [ ]
      parameters:
        - name: groveId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Grove deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Grove not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/events:
    get:
      summary: Get all events
      operationId: getEvents
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroveEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new event
      operationId: createEvent
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                groveId:
                  type: string
                  format: uuid
              required:
                - title
                - start
                - end
                - groveId
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroveEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/support:
    post:
      summary: Send a support request
      operationId: sendSupportRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportRequest'
      responses:
        '204':
          description: Support request sent successfully
  /api/licenses:
    get:
      summary: Get all licenses
      operationId: getLicenses
      responses:
        '200':
          description: List of licenses
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    license:
                      type: string
  /api/final-fantasy/character:
    get:
      summary: Get all characters
      operationId: getCharacters
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of characters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Character'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new character
      operationId: createCharacter
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Character'
      responses:
        '201':
          description: Character created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}:
    get:
      summary: Get a specific character
      operationId: getCharacter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Character details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a character
      operationId: updateCharacter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Character'
      responses:
        '204':
          description: Character updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a character
      operationId: deleteCharacter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Character deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/housing:
    get:
      summary: Get all housings for a character
      operationId: getCharacterHousings
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of character housings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CharacterHousing'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new housing for a character
      operationId: createCharacterHousing
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CharacterHousing'
      responses:
        '201':
          description: Character housing created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterHousing'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/housing/{character_housing_id}:
    get:
      summary: Get a specific housing for a character
      operationId: getCharacterHousing
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: character_housing_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Character housing details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterHousing'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character housing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a housing for a character
      operationId: updateCharacterHousing
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: character_housing_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CharacterHousing'
      responses:
        '204':
          description: Character housing updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character housing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a housing for a character
      operationId: deleteCharacterHousing
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: character_housing_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Character housing deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character housing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/crafter:
    get:
      summary: Get all crafters for a character
      operationId: getCrafters
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of crafters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Crafter'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new crafter for a character
      operationId: createCrafter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crafter'
      responses:
        '201':
          description: Crafter created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crafter'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/crafter/{crafter_id}:
    get:
      summary: Get a specific crafter for a character
      operationId: getCrafter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: crafter_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Crafter details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crafter'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Crafter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a crafter for a character
      operationId: updateCrafter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: crafter_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crafter'
      responses:
        '204':
          description: Crafter updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Crafter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a crafter for a character
      operationId: deleteCrafter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: crafter_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Crafter deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Crafter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/custom-field:
    get:
      summary: Get all custom fields
      operationId: getCustomFields
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of custom fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomField'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new custom field
      operationId: createCustomField
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '201':
          description: Custom field created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/custom-field/{field_id}:
    get:
      summary: Get a specific custom field
      operationId: getCustomField
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Custom field details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a custom field
      operationId: updateCustomField
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '204':
          description: Custom field updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a custom field
      operationId: deleteCustomField
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Custom field deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/custom-field/{field_id}/option:
    get:
      summary: Get all options for a custom field
      operationId: getCustomFieldOptions
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of custom field options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldOption'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new option for a custom field
      operationId: createCustomFieldOption
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '201':
          description: Custom field option created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldOption'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/custom-field/{field_id}/option/{option_id}:
    put:
      summary: Update an option for a custom field
      operationId: updateCustomFieldOption
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: option_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '204':
          description: Custom field option updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete an option for a custom field
      operationId: deleteCustomFieldOption
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: option_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Custom field option deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/custom-field/{field_id}/{position}:
    put:
      summary: Move a custom field to a new position
      operationId: moveCustomField
      security:
        - bearerAuth: [ ]
      parameters:
        - name: field_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: position
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Custom field moved successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Custom field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/fighter:
    get:
      summary: Get all fighters for a character
      operationId: getFighters
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of fighters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fighter'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new fighter for a character
      operationId: createFighter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fighter'
      responses:
        '201':
          description: Fighter created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fighter'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/fighter/{fighter_id}:
    get:
      summary: Get a specific fighter for a character
      operationId: getFighter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: fighter_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Fighter details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fighter'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Fighter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a fighter for a character
      operationId: updateFighter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: fighter_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fighter'
      responses:
        '204':
          description: Fighter updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Fighter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a fighter for a character
      operationId: deleteFighter
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: fighter_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Fighter deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Fighter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/free-company:
    get:
      summary: Get all free companies
      operationId: getFreeCompanies
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of free companies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FreeCompany'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new free company
      operationId: createFreeCompany
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeCompany'
      responses:
        '201':
          description: Free company created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeCompany'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/free-company/{free_company_id}:
    get:
      summary: Get a specific free company
      operationId: getFreeCompany
      security:
        - bearerAuth: [ ]
      parameters:
        - name: free_company_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Free company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeCompany'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Free company not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a free company
      operationId: updateFreeCompany
      security:
        - bearerAuth: [ ]
      parameters:
        - name: free_company_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeCompany'
      responses:
        '204':
          description: Free company updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Free company not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a free company
      operationId: deleteFreeCompany
      security:
        - bearerAuth: [ ]
      parameters:
        - name: free_company_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Free company deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Free company not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/gatherer:
    get:
      summary: Get all gatherers for a character
      operationId: getGatherers
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of gatherers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Gatherer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new gatherer for a character
      operationId: createGatherer
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gatherer'
      responses:
        '201':
          description: Gatherer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gatherer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/final-fantasy/character/{character_id}/gatherer/{gatherer_id}:
    get:
      summary: Get a specific gatherer for a character
      operationId: getGatherer
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: gatherer_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Gatherer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gatherer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Gatherer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a gatherer for a character
      operationId: updateGatherer
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: gatherer_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gatherer'
      responses:
        '204':
          description: Gatherer updated successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Gatherer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a gatherer for a character
      operationId: deleteGatherer
      security:
        - bearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: gatherer_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Gatherer deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Gatherer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/user:
    get:
      summary: Get all users
      operationId: getUsers
      security:
        - bearerAuth: [ ]
      parameters:
        - name: grove
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: banned
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: all
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/user/{user_id}/picture:
    get:
      summary: Get a user's profile picture
      operationId: getProfilePicture
      security:
        - bearerAuth: [ ]
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Profile picture
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

security:
  - bearerAuth: [ ]
